.headerNav {
  background-color: $primary-color;
  font-size: 13px;
  color: #fff;
}
.headerBlock {
  padding: 13px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  display: none;
  li {
    margin: 0 20px;
  }
  @include devices(mobile-large) {
    display: flex;
  }
  @include devices(tablet) {
    justify-content: space-between;
    li {
      margin: 0;
    }
  }

  li {
    position: relative;
    padding: 0;
    @include devices(tablet) {
      padding-left: 35px;
    }
    &:after {
      content: "";
      border-right: 1px solid $primary-color-light;
      right: -20px;
      position: absolute;
      height: 19px;
      top: -2px;
    }
    &:last-child {
      &:after {
        border: none;
      }
    }
    a {
      text-decoration: none;
    }
  }
}
.headerTop {
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerTopInner {
  @include devices(tablet) {
    border-top: 1px solid $scale-gray-01;
  }
}
.leftNav {
  display: inline-block;
}
.rightNav {
  width: 100%;

  @include devices(tablet) {
    float: right;
    width: auto;
  }
}
.headerNav a {
  color: #ffffff;
}
.container {
  @include container;
  display: flex;
  justify-content: space-between;
}
.containerTop {
  @include container;
  position: relative;
  @include devices(tablet) {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    align-items: center;
  }
}
.mobileHambuger {
  display: block;
  float: left;
  padding: 8px 10px 0 0;
}
.right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 15px;

  > div {
    cursor: pointer;
    color: $txt-primary;
    svg {
      transform: scale(0.9);
    }
    @include devices(mobile-large) {
      svg {
        transform: scale(1);
      }
    }
    @include devices(desktop) {
      svg {
        transform: scale(1);
      }
    }
    &:hover {
      svg {
        path {
          color: $primary-color;
        }
      }
    }
  }

  @include devices(mobile-large) {
    > div {
      margin-left: 10px;
      &:first-child {
        margin: 0;
      }
    }
  }

  @include devices(tablet) {
    position: static;
    > div {
      margin-left: 10px;
      &:first-child {
        margin: 0;
      }
    }
  }
}
