.headerNav {
  background-color: $primary-color;
  font-size: 13px;
  color: #fff;
}
.headerBlock {
  padding: 11px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;

  li {
    position: relative;
    padding: 0;
    @include devices(desktop) {
      padding-left: 35px;
    }
    &:after {
      content: "";
      border-right: 1px solid $primary-color-light;
      right: -20px;
      position: absolute;
      height: 19px;
      top: -2px;
    }
    &:last-child {
      &:after {
        border: none;
      }
    }
    a {
      text-decoration: none;
    }
  }
}
.headerTop {
  padding-top: 10px;
  padding-bottom: 10px;
}
.leftNav {
  display: inline-block;
}
.rightNav {
  width: 100%;

  @include devices(desktop) {
    float: right;
    width: auto;
  }
}
.headerNav a {
  color: #ffffff;
}
.container {
  @include container;
  display: flex;
  justify-content: space-between;
}
.containerTop {
  @include container;
  position: relative;
  @include devices(desktop) {
    display: flex;
    justify-content: space-between;
  }
}
.mobileHambuger {
  display: block;
  float: left;
  padding: 8px 5px 0 0;
}
.right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  right: 15px;

  @include devices(desktop) {
    position: static;
  }

  div {
    margin-left: 10px;
    &:first-child {
      margin: 0;
    }
  }
}
