@mixin devices($breakpoint) {
  @if $breakpoint==desktop {
    @media only screen and (min-width: #{$desktop + 1}px) {
      @content;
    }
  }
  @if $breakpoint==desktop-small {
    @media only screen and (min-width: #{$desktop-small + 1}px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: #{$tablet + 1}px) {
      @content;
    }
  }

  @if $breakpoint==tablet-small {
    @media only screen and (min-width: #{$tablet-small + 1}px) {
      @content;
    }
  }

  @if $breakpoint==mobile-large {
    @media only screen and (min-width: #{$mobile-large + 1}px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media only screen and (min-width: #{$mobile + 1}px) {
      @content;
    }
  }
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include devices(desktop) {
    width: 1430px;
    max-width: 100%;
  }
}

@mixin button {
  padding: 0;
  background: transparent;
  color: #000;
  text-decoration: underline;
  border: none;
  display: inline-block;
  line-height: 26px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter";
}
