$primary-color: #2c624b;

$primary-color-light: #8cccb4;

$txt-primary: #222222;
$black: #000000;
$body-bg: #ffffff;

$mobile: 480;
$mobile-large: 550;
$tablet-small: 700;
$tablet: 998;
$desktop-small: 1200;
$desktop: 1460;

$scale-gray-01: #dddddd;
