.banner {
  width: 100%;
  position: relative;
}
.link {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.figure {
  display: block;
}
.content {
  position: absolute;
  top: 15%;
  color: $black;
  letter-spacing: 0;
  font-family: "Jost";
  left: 30px;
  @include devices(tablet) {
    left: auto;
  }
}
.heading {
  font-weight: 300;
  display: none;
  font-size: 28px;
  line-height: 26px;

  @include devices(mobile) {
    display: block;
    font-size: 17px;
    line-height: 22px;
  }
  @include devices(mobile-large) {
    font-size: 18px;
    line-height: 24px;
  }
  @include devices(tablet) {
    font-size: 20px;
  }
  @include devices(desktop-small) {
    font-size: 23px;
  }
  @include devices(desktop) {
    font-size: 28px;
    line-height: 26px;
  }
}
.subheading {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  span {
    display: block;
  }
  @include devices(mobile) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    span {
      line-height: 30px;
    }
  }
  @include devices(mobile-large) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    span {
      line-height: 34px;
    }
  }
  @include devices(tablet) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
    span {
      line-height: 50px;
    }
  }
  @include devices(desktop-small) {
    font-size: 40px;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
    span {
      line-height: 60px;
    }
  }
  @include devices(desktop) {
    font-size: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    span {
      display: block;
      line-height: 70px;
    }
  }
}
.container {
  @include container;
}

.btn {
  @include button;

  background: $primary-color;
  padding: 3px 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: capitalize;

  @include devices(mobile) {
    padding: 6px 18px;
    font-size: 13px;
  }
  @include devices(mobile-large) {
    padding: 7px 20px;
    font-size: 14px;
    text-transform: uppercase;
  }
  @include devices(tablet) {
    padding: 8px 26px;
    text-transform: uppercase;
  }
  @include devices(desktop-small) {
    padding: 9px 28px;
    line-height: 23px;
    font-size: 13px;
    text-transform: uppercase;
  }
  @include devices(desktop) {
    padding: 10px 24px;
  }
}
