.block {
  width: 100%;
  position: relative;
  margin-top: 40px;

  @include devices(desktop-small) {
    margin-top: 80px;
  }
}

.container {
  @include container;
}
.inner {
  display: grid;
  grid-template-columns: 1fr;

  @include devices(mobile-large) {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  @include devices(tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include devices(desktop-small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
  }
}
.item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @include devices(desktop-small) {
    border-right: 1px solid #dddddd;
    padding-right: 50px;
  }

  @include devices(desktop-small) {
    flex-direction: row;
  }
  &:nth-child(4n),
  &:last-child {
    border: none;
  }
  &:first-child {
    svg {
      transform: rotate(315deg);
    }
  }
  svg {
    margin-right: 11px;
    fill: $txt-primary;
  }
}
.content {
  margin-top: 12px;
  text-align: center;
  @include devices(desktop-small) {
    text-align: left;
  }
}
.heading {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: $txt-primary;
  margin-bottom: 9px;
}
