.mobileNav {
  width: 100%;
}
.desktopNav {
  ul {
    width: 100%;
    display: flex;
    li {
      &:first-child {
        a {
          padding-left: 0;
          margin-left: 0;
        }
      }
      a {
        padding: 14px 0 15px;
        margin: 0 19px;
        display: block;
        text-decoration: none;
        color: $black;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
