.mobileNav {
  width: 100%;
}
.desktopNav {
  ul {
    width: 100%;
    display: flex;
    li {
      &:first-child {
        a {
          padding-left: 0;
          margin-left: 0;
        }
      }
      a {
        padding: 14px 0 15px;
        margin: 0 17px;
        display: block;
        margin-right: 13px;
        text-decoration: none;
        color: #000000;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
// .leftNav {
//   display: inline-block;
// }
// .rightNav {
//   float: right;
// }
// .headerNav a {
//   color: #ffffff;
// }
// .container {
//   @include container;
// }
