.headerNav {
  background-color: $primary-color;
  font-size: 13px;
  color: #fff;
}
.headerBlock {
  padding: 11px 0;
}
.leftNav {
  display: inline-block;
}
.rightNav {
  float: right;
}
.headerNav a {
  color: #ffffff;
}
.container {
  @include container;
}
